html,body {
    width: 100%;
}
body{
    margin: 0;
    font-size: 14px;
    font-family: "Helvetica Neue", Arial, "Lucida Grande", "Lucida Sans Unicode", Lucida, sans-serif;
    background-color: #dde7f6;
}

.clearfix:after{
    content: '';
    display: block;
    width: 0;
    line-height: 0;
    height: 0;
    font-size: 0;
    clear: both;
}
.qdh-container{
    width:950px;
    margin: 0 auto;
    position: relative;
}
.qdh-title{
    text-align: center;
    position: relative;
    z-index: 30;
    width:400px;
    margin:0 auto 40px;
}
.qdh-article{
    float: left;
    width: 37%;
    margin-right: 2%;
}
.qdh-input-row{
    margin-bottom: 15px;
}
.qdh-input-button{
    margin-bottom: 15px;
    clear: both;
    text-align: right;
    margin-right:13px;
}
.qdh-input-button button{
    border: 1px solid #333;
    line-height:22px;
    height: 24px;
    cursor: pointer;
    min-width: 60px;
    text-align:center;
    padding:0;
    background-color: #ffffcd;
}
.qdh-input-button button:last-child{
    border-left:none;
}

.qdh-input-button button:hover{
    background-color: #f1f1f1;
}
.qdh-input-row{
    position: relative;
}
.qdh-input-row label{
    display: flex;
}
.row-right{
    position: relative;
}
.qdh-input-row i{
    display: block;
    padding: 5px;
    margin-left: 68px;
    font-size: 12px;
    color: #999;
}

.qdh-input-row span{
    display: inline-block;
    vertical-align: top;
    margin-bottom: 15px;
    background-color: #ffffcd;
    width:65px;
    height: 22px;
    line-height:22px;
    text-align: center;
    border:1px solid #666;
    border-right:none;
}
.qdh-input-row textarea {
    display: inline-block;
    vertical-align: top;
    border: 1px solid #666;
    height: 80px;
    padding: 3px 5px;
    max-width:200px;
    flex:auto;
    background-color: #fbebf7;
}
.qdh-input-row button{
    border: 1px solid #666;
    border-left:none;
    padding:0;
    background-color: #ffffcd;
    cursor: pointer;
    height:24px;
    line-height: 20px;
    width:60px;
    min-width:60px;
    text-align: center;
    font-size: 14px;

}
.qdh-input-row button:hover{
    background-color: #f1f1f1;
}
.qdh-table-container{
    float: left;
    width: 60%;
    background-color: #dde7f6;
}
.zoomout {
    width: 96%;
    position: fixed;
    margin: auto;
    padding: 60px 2%;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    float: none;
    z-index: 20;
}
.qdh-mask {
    position: fixed;
    background: #000;
    opacity: 0.3;
    width:100%;
    height: 100%;
    z-index: 10;
    left: 0;
    top:0;
    display: none;
}

.qdh-table{
    border-collapse: collapse;
    width: 98%;
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0 1%;
}
.qdh-table tr{
    height: 22px;
    max-height:50px;
}
.qdh-table td,.qdh-table th{
    text-align: center;
    padding: 0 3px;
    border: 1px solid #999;
}
.qdh-table th{
    border: 1px solid #666;
    background-color: #ffffcd;
}
.qdh-table tbody tr.even{
    background-color: #ffffcd;
}
.qdh_name_calc{
    width:59px;
    height:22px;
    line-height:22px;
    font-size: 14px;
    text-align: center;
    background-color: #ffffcd;
    border:1px solid #333;
    border-left:none;
    position: absolute;
    bottom:0;
}
.qdh-table-operation{
    position: absolute;
    right: 2%;
    top:20px;
}
.fangda .qdh-table-operation{
    right:3%;
}
.fangda .qdh-input-button button {
    padding: 0 5px;
}
.qdh-table-operation a{
    display: inline-block;
    background-color: #ffffcd;
    text-align: center;
    padding: 3px 8px 3px 16px;
    vertical-align: middle;
    text-decoration: none;
}
.qdh-table-operation a:last-child{
    padding: 3px 16px 3px 8px;
}

.buttonfix{
    position: fixed;
    top:20px;
    z-index: 30;
    right:3%;
    margin-right: 105px;
    line-height:22px;
    height: 22px;
    font-size: 14px;
}
.copyright{
    padding-top: 35px;
    text-align: center;
    width:950px;
    margin:50px auto 0;
    border-top: 1px solid #dddddd;
    height:50px;
}
