<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>电子抽签程序球道安排</title>
    <link rel="stylesheet" href="../styles/all.css">
</head>
<body>
<section class="qdh-container">
    <header class="qdh-title"><h2 id="js_qdh_title">抽签球道安排</h2></header>
    <article class="qdh-article">
        <div class="qdh-input-row ">
            <label><span>请输入球道号：</span><textarea tabindex="1" placeholder="球道号以空格或逗号隔开" id="js_qdh_number"></textarea><button id="js_number_clear">清空</button></label>
            <i>(如1,2,3 或 1 2 3)</i>
            <div id="js_number_calc" class="qdh_name_calc">0道</div>
        </div>
        <div class="qdh-input-row">
            <label><span>请输入姓名：</span><textarea tabindex="1" placeholder="姓名以空格或逗号隔开" id="js_qdh_name"></textarea><button id="js_name_clear">清空</button></label>
            <i>(如张三,李四,王五 或 张三 李四 王五)</i>
            <div id="js_name_calc" class="qdh_name_calc">0人</div>
        </div>
        <div class="qdh-input-button">
            <button type="submit" tabindex="1" id="js_qdh_btn_random">随机生成</button><button id="js_qdh_btn_clear">全部清空</button>
        </div>
    </article>
    <article  class="qdh-table-container" id="js_table_container">
        <table class="qdh-table">
            <thead>
            <tr>
                <th>序</th>
                <th>球道号</th>
                <th>姓名</th>
            </tr>
            </thead>
            <tbody id="js_qdh_output"></tbody>
        </table>
        <div id="js_table_other"></div>
    </article>
</section>
<script src="../app/main.js"></script>
</body>
</html>